! general
URxvt*saveline: 15000
URxvt*iso14755: false
URxvt*urlLauncher: firefox
URxvt*underlineURLs: true
URxvt*urlButton: 1
URxvt*geometry: 90x30

! appearance
URxvt*depth: 32
URxvt*scrollBar: false
URxvt*transparent: true
URxvt*shading: 30
URxvt*foreground: #f8f8ff
URxvt*background: #1d1f21
URxvt*underlineColor: #4682b4
URxvt*highlightColor: #4682b4
URxvt*cursorColor: #c5c8c6

! colors
URxvt*color0: #3f3f3f
URxvt*color1: #ac3c3c
URxvt*color2: #60b48a
URxvt*color3: #dfaf8f
URxvt*color4: #506070
URxvt*color5: #dc8cc3
URxvt*color6: #8cd0d3
URxvt*color7: #dcdccc
URxvt*color8: #79A9FF
URxvt*color9: #da6e6e
URxvt*color10: #c3bf9f
URxvt*color11: #f0dfaf
URxvt*color12: #94bff3
URxvt*color13: #ec93d3
URxvt*color14: #93e0e3
URxvt*color15: #ffffff

! fonts
URxvt*font: xft:mononoki:style=Regular:size=13,xft:Monospace:regular:size=13
URxvt*imFont: xft:mononoki:style=Regular:size=13,xft:Monospace:regular:size=13
URxvt*boldFont: xft:mononoki:style=Bold:size=13,xft:Monospace:bold:size=13
URxvt*italicFont: xft:mononoki:style=Italic:size=13,xft:Monospace:italic:size=13
URxvt*boldItalicFont: xft:mononoki:style=BoldItalic:size=13,xft:Monospace:regular:size=13

! perl extensions
URxvt*perl-ext-common: default, matcher
